.login-container {
    //right side
    .login-form {
        :deep(.p-card) {
            padding: 2rem;
            box-shadow: $box-shadow;
            gap: 2rem;
            .p-card-header {
                display: flex;
                justify-content: center;
            }
            .p-card-body {
                padding: 0 !important;
                .p-card-content {
                    .p-tabview {
                        .p-tabview-nav {
                            background: $input-color !important;
                            border-radius: 24px;
                            border: none;
                            padding: 8px;
                            .p-tabview-header {
                                flex: 1;
                                a {
                                    border: none;
                                    display: flex;
                                    justify-content: center;
                                    font-size: 14px;
                                    border-radius: 20px;
                                }
                                &.p-highlight {
                                    a {
                                        background: white !important;
                                        box-shadow: 0px 1px 3px 0px #2f2b431a;
                                    }
                                }
                            }
                            .p-tabview-ink-bar {
                                display: none;
                            }
                        }
                        .p-tabview-panels {
                            padding: 0 !important;
                        }
                    }
                    .p-tabview-panel,
                    .verification-container {
                        .title {
                            color: $global-color;
                            font-size: 18px !important;
                        }
                        .login-desc {
                            font-size: 14px !important;
                        }
                        label {
                            font-size: 16px !important;
                            font-weight: 700;
                        }
                        label,
                        .login-desc {
                            color: $font-color;
                        }
                        .p-button {
                            padding: 0.75rem 1.125rem !important;
                        }
                    }
                }
            }
        }
    }

    // left side
    .left-side {
        img {
            width: 350px;
            aspect-ratio: 9/9;
        }
    }
}
.hide-header :deep(.p-tabview-nav) {
    display: none;
}

@media (max-width: 800px) {
    .login-container {
        .left-side {
            img {
                width: 250px;
            }
        }
    }
}
@media (max-width: 768px) {
    .login-container {
        //right side
        .login-form {
            :deep(.p-card) {
                margin-left: 1.5rem;
            }
        }
        .left-side {
            img {
                object-fit: cover;
            }
        }
    }
}
@media(max-width:375px) {
    .login-container {
        .left-side {
            img {
               width: 200px;
            }
        }
    }
}