.orders-container {
    :deep(.p-dataview-content) {
        .order-inf {
            p {
                font-weight: 700;
                font-size: 14px;
                span {
                    margin: 0 5px;
                    font-weight: 500 !important;
                }
                .p-badge {
                    border-radius: 12px;
                }
            }
        }
    }
}

